/*
=========================================================
Name        : LoginPage.css
Assignment  : Assignment 5
Author(s)   : Sarah Yip (UCID: 30174831), Stephenie Oboh (UCID: 30151629)
Submission  : April 7, 2024
Description : Styling for the login section of the website
=========================================================
*/
.error {
    color: red;
}